@using Microsoft.CodeAnalysis
@{
    ViewData["Title"] = "Home Page";

}


<br />
<body class="boards">
    <div class="text-center">
        <img src="images/TheCoopLogo.png">
    </div>

    <div class="text-right">
        <a href="https://www.facebook.com/thecoopantiques/">
            <img class="img-fluid" src="images/FaceBookLike.png" style="width:25%" />
        </a>
    </div>
</body>

