@{
    ViewData["Title"] = "Contact";
}
<br/>
<body class="boards">
<div class="card p-4 col-4" style="background-color: maroon; color: whitesmoke;" >
    <div class="card-header">
        <h2>Contact Us</h2>
    </div>
    <div class="card-body" style="font-size: 1.5em;">
        97 Geneva Drive<br/>
        Oviedo, FL 32765<br/>
        Phone: 407.366.7705
    </div>
</div>
</body>


