@using Microsoft.CodeAnalysis
@{
    ViewData["Title"] = "Home Page";
}
<br />
<body class="boards">
    <div class="row">
        <div class="offset-4">
            <div class="text-center">
                <img src="images/TheCoopLogo.png">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3  text-center" type="group">
            <div class="p-4">
                <a asp-action="Contact" class="btn btn-light btn-lg " style="width: 130px; background-color: maroon; color: whitesmoke;">Contact</a> <br />
            </div>
            <div class="p-4">
                <a asp-action="About" class="btn btn-light btn-lg" style="width: 130px; background-color: maroon; color: whitesmoke;">About</a> <br />
            </div>
            <div class="p-4">
                <a asp-action="Privacy" class="btn btn-light btn-lg" style="width: 130px; background-color: maroon; color: whitesmoke;">Privacy</a> <br />
            </div>
        </div>
        <div class="col-9 card p-4 rounded" style="background-color: maroon; ">
            <img class="card-img-top rounded" src="images/InsideCoop.jpg" />
            <div class="card-body" style="color: whitesmoke; font-size: 1.25em;">
                <h4 class="card-title">About Us</h4>
                <p class="card-text">We are an 11,000 sq. ft. antique mall located in the heart of downtown Oviedo, FL.  With over 60 amazing dealers you are bound to find something special on each visit.</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9 card p-4 rounded" style="background-color: maroon; ">
            <div class="card-body" style="color: whitesmoke; font-size: 1.25em;">
                <h4 class="card-title text-center">Our ever-changing inventory includes the following:</h4>
                <p class="card-text">
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Antique & Vintage Furniture</li>
                                <li>Shabby Chic</li>
                                <li>Primitives</li>
                                <li>Toys</li>
                                <li>Industrial</li>
                                <li>French</li>
                                <li>Farmhouse</li>
                                <li>Up-cycled & Re-purposed Items</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Trains</li>
                                <li>Coins</li>
                                <li>Fenton&reg; Glass</li>
                                <li>Jewelry</li>
                                <li>Mid-Century</li>
                                <li>Art Deco</li>
                                <li>Ephemera</li>
                                <li>Cottage</li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
<br />
<div class="row">
    <div class="col-9">
        <img class="img-fluid" src="/images/major-credit-card-logos-png-2.png" style="width: 100%" />
    </div>
    <div class="col-3 text-right">
        <a href="https://www.facebook.com/thecoopantiques/">
            <img class="img-fluid" src="images/FaceBookLike.png" style="width: 100%" />
        </a>
    </div>
</div>
</body>













