@model TheCoopAntiques.Models.ViewModel.DealerViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-7">
        
    </div>
    <div class="col-3">
        <a class="btn btn-primary btn-block" asp-Controller="Dealers" asp-action="Index">Back to Dealer Maintenance</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-7">
        <h2 class="text-info">Fees for @Model.Dealers.ToString()</h2>
    </div>
    <div class="col-3 text-right">
        <a asp-action="Create" asp-route-dealerId="@Model.Dealers.Id" class="btn btn-info">
            <i class="fas fa-plus"></i>&nbsp; Add Fee
        </a>
    </div>
</div>

<br />
<partial name="_DealerFeesPartial" model="@Model" />
