@using TheCoopAntiques.Models.ViewModel
@using TheCoopAntiques.Utility
@{
    var StatusInfo = ViewData["Status"] as StatusViewModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheCoopAntiques</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed top" style="background-color: maroon">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-area="Default">
            The Coop Antiques
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" mr-auto>
                @if (User.IsInRole(SD.AdminUser) ||
              User.IsInRole(SD.Owner))
                {
                    <div class="border"></div>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ndDealers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-users">&nbsp;</i>
                            Dealers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ndDealers">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Dealers" asp-action="Index">
                                View Dealers
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Dealers" asp-action="Create">
                                Add Dealer
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Dealer Fees</a>
                            <a class="dropdown-item" href="#">Dealer Balances</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ndProcessing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-calculator">&nbsp;</i>
                            Processing
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ndProcessing">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="WeeklyProcessing" asp-action="Create">Weekly Processing</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="MonthlyProcessing" asp-action="Index">Monthly Processing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ndConfiguration" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-wrench">&nbsp;</i>
                            Configuration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ndConfiguration">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Periods" asp-action="Index">Period Maintenance</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="TransactionTypes" asp-action="Index">Transaction Types</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="DealerFeeTypes" asp-action="Index">Dealer Fee Types</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="TaxRates" asp-action="Index">Tax Rates</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="CreditFees" asp-action="Index">Credit Fees</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="CommissionRates" asp-action="Index">Commission Rates</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Newsletter" asp-action="Index">Edit Newsletter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ndUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-users-cog">&nbsp;</i>
                            Users
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ndUsers">
                            <a class="dropdown-item" a asp-area="Identity" asp-page="/Account/Register">Add User</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Maintain Users</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Security Roles</a>
                        </div>
                    </li>
                    <div class="border"></div>
                }
                @if (User.IsInRole(SD.AdminUser) ||
                User.IsInRole(SD.Owner) ||
                User.IsInRole(SD.Volunteer))
                {
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ndOrders" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-file-alt">&nbsp;</i>
                            Orders
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ndOrders">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Orders" asp-action="Create">New Order</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Orders" asp-action="Index">Order Search</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Layaways" asp-action="Index">Layaways</a>
                        </div>
                    </li>

                    <div class="border"></div>
                }
                @if (User.IsInRole(SD.AdminUser) ||
               User.IsInRole(SD.Owner) ||
               User.IsInRole(SD.Volunteer) ||
               User.IsInRole(SD.DealerV))
                {
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ndSales" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign">&nbsp;</i>
                            My Sales
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ndSales">
                            <a class="dropdown-item" asp-area="Dealer" asp-controller="Sales" asp-action="Index">This Month</a>
                            <a class="dropdown-item" asp-area="Dealer" asp-controller="Sales" asp-action="Index">Previous Month</a>
                        </div>
                    </li>
                    <div class="border"></div>
                }
                @if (User.IsInRole(SD.AdminUser) ||
               User.IsInRole(SD.Owner) ||
               User.IsInRole(SD.Volunteer) ||
               User.IsInRole(SD.DealerV) ||
               User.IsInRole(SD.DealerNV))
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <i class="fas fa-newspaper">&nbsp;</i>
                            Dealer Newsletter
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    @if (User.IsInRole(SD.AdminUser) && StatusInfo != null)
    {
        <partial name="_StatusPartialView.cshtml" model="StatusInfo" />
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-right" style="font-weight: bold; color: black">&copy; 2018 - The Coop Antiques</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>