@model int

<td style="width: 150px; ">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" href="@Url.Action("Details/" + Model)">
            <i class="fas fa-info-circle"></i>
        </a>
        <a type="button" class="btn btn-success" href="@Url.Action("Edit/" + Model)">
            <i class="fas fa-pencil-alt"></i>
        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/" + Model)">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</td>
